<a href="https://colab.research.google.com/github/Jshndeep/Summer-Training-2k22/blob/main/Pandas_ST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

* Pandas is Python package for data analysis.
* Pandas is an open source python library built on top of Numpy
* Pandas can accomplish five typical steps in the processing and analysis of data, regardless of the origin of data:- 
 
    * load
    * prepare
    * manipulate
    * model
    * analyze

**Why Pandas?**

* Big part of data science is data cleaning.
* Pandas is a power tool for data cleaning.

**Key Features of Pandas**

* Fast and efficient dataframe object with default and customized indexing.
* Label based slicing,indexing and subsetting of large datasets.
* Columns from a data structure can be deleted or inserted.
* High performance merging and joining of data.
* Time series functionality.

## **Numpy vs Pandas**

* Pandas is designed for working with tabular or heterogenous data.
* Numpy is best suited for working with homogenous numerical array data.
* **Numpy** is required by **Pandas** (and by virtually all numerical tools for Python)
* Numpy is faster than Pandas.
* Both are faster than normal Python arrays.
* **Essential difference**:-
   * The Numpy array has an **implicitly defined integer index** used to access the values.
   * The Pandas Series has an **explicitly defined index** associated with the values.

**Pandas and Numpy**

* Pandas and Numpy both hold data.
* Pandas has column names as well.
* Makes it easier to manipulate data.

**Pandas Numpy Scikit-Learn Workflow**

* Start with CSV
* Convert to Pandas
* Slice and dice in Pandas
* Convert to Numpy array to feed to scikit-learn

## **Data Structures**

* Pandas deals with the following three data structures:-
    * Series
    * DataFrame
    * Panel
* These data structures are built on top of Numpy array,which means they are fast.
* DataFrame is a container of Series,Panel is a container of DataFrame.

#### **Python Series**

* Series is a **1D** labeled **homogenous** array,size **immutable**.
* Syntax:-   pandas.Series(data,index,dtype,copy)
* A series can be created using various inputs-
     * Array
     * Dict
     * Scalar value or constant

In [ ]:
#Creating an empty series
#Import the pandas library and aliasing as pd
import pandas as pd
s=pd.Series()
print(s)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [1]:
#Creating a series from ndarray
import pandas as pd
import numpy as np
data=np.array(['a','b','c','d'])
s=pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [3]:
#If data is an ndarray,then index passed must be of the same length.If no index is passed,then by default index will be range(n) i.e. 0 to n-1
data=np.array(['a','b','c','d'])
s=pd.Series(data,index=[100,101,102,'indexd'])
print(s)

100       a
101       b
102       c
indexd    d
dtype: object

In [5]:
#Creating a series from dict
#A dict can be passed as a input and if no index is specified,then the dictionary keys are taken in a sorted order to construct index
data={'a':0,'b':1,'c':2}
s=pd.Series(data)
print(s)

a    0
b    1
c    2
dtype: int64

In [6]:
#If index is passed,the values in the data corresponding to the labels in the index will be pulled out
s=pd.Series(data,index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [ ]:
#Creating a series from a scalar
#If data is a scalar value,an index must be provided.The value will be repeated to match the length of index
s=pd.Series(5,index=[0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [ ]:
#Retrieving data from series with position/label(index)
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[0])   #Retrieve the first element
print(s[:3])  #Retrieve the first three elements
print(s[-3:]) #Retrieve the last three elements
print(s['a']) #Retrieve a single element
print(s[['a','c','d']])  #Retrieve multiple elements

1
a    1
b    2
c    3
dtype: int64
c    3
d    4
e    5
dtype: int64
1
a    1
c    3
d    4
dtype: int64

In [7]:
s=pd.Series({2:'a',1:'b',3:'c'},index=[3,2])
print(s)

3    c
2    a
dtype: object

In [8]:
#Series as a specialized dictionary
population_dict={'Amritsar':2498201,'Jalandhar':2793723,'Ludhiana':347282,
                 'Hoshiarpur':1527362,'Bathinda':1388322,'Fatehgarh Sahib':600163,'Patiala':1893527}
population=pd.Series(population_dict)
population

Amritsar           2498201
Jalandhar          2793723
Ludhiana            347282
Hoshiarpur         1527362
Bathinda           1388322
Fatehgarh Sahib     600163
Patiala            1893527
dtype: int64

In [9]:
population['Ludhiana']

347282

In [12]:
population['Ludhiana':'Bathinda']

Ludhiana       347282
Hoshiarpur    1527362
Bathinda      1388322
dtype: int64

#### **Pandas DataFrame**

* General **2D** labeled(rows and columns),size **mutable**,**tabular** structure with potentially **heterogeneously** typed columns
* Syntax:- pandas.DataFrame(data,index,columns,dtype,copy)
* pandas DataFrame can be created using various inputs like-
   * Lists
   * Dict
   * Series
   * Numpy ndarrays
   * Another Dataframe

In [13]:
#Creating an empty dataframe
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [16]:
#Creating a dataframe from lists
#Example 1
data=[1,2,3,4]
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4

In [ ]:
#Example 2
data=[['Amit',10],['Sumit',12],['Himmat',1350]]
df=pd.DataFrame(data,columns=['Name','Rollno'],dtype=float)
print(df)

     Name  Rollno
0    Amit    10.0
1   Sumit    12.0
2  Himmat  1350.0

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
#Creating a dataframe from Dict of ndarrays/lists
data={'Name':['Amit','Sumit','Rita','Geeta'],'Age':[13,14,13,15]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1   Amit   13
rank2  Sumit   14
rank3   Rita   13
rank4  Geeta   15

In [ ]:
#Creating a dataframe from list of dicts
#Example 1
data=[{'a':1,'b':2},{'a':3,'b':4,'c':5}]
df=pd.DataFrame(data,index=['rank1','rank2'])
print(df)

       a  b    c
rank1  1  2  NaN
rank2  3  4  5.0

In [ ]:
#Example 2
data=[{'a':i,'b':2*i} for i in range(3)]
df=pd.DataFrame(data)
print(df)

   a  b
0  0  0
1  1  2
2  2  4

In [21]:
#Creating a dataframe from 2D Numpy array
arr=np.random.rand(3,2)
df=pd.DataFrame(arr,columns=['abc','def'],index=['a','b','c'])
print(df)

        abc       def
a  0.518216  0.511451
b  0.830215  0.771449
c  0.987811  0.842054

In [20]:
#Creating a dataframe from a numpy structured array
A=np.zeros(3,dtype=[('A','i8'),('B','f8')])
df=pd.DataFrame(A)
print(df)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [23]:
#Creating a dataframe from a dict of series
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [24]:
print(df['one'])    #column selection

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [25]:
#Adding column
df['three']=pd.Series([10,20,30],index=['a','b','c'])
df['four']=df['three']+df['one']
print(df)

   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN