<a href="https://colab.research.google.com/github/Jshndeep/Summer-Training-2k22/blob/main/Python_basics_ST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basics of Python**

Python was derived from **Monty Python's Flying Circus** in 1970 by **Van Rossum**.


1.   Later on, **Iron Python** was developed which works with **.NET**.

2.   **Jython** was developed which works with **Java Virtual Machine**.

1.  **Django** was developed which works with **Web Framework**.

###**Ecosystem**

> There are various packages like:
*  Numpy
*  Pandas
*  Scikit
*  Matplotlib
*  Cartopy

**Power of Python**

*   Google
*   Facebook

**Why Python?**
1.  Free
1.   Portable
1.   Powerful
1.   Mixable
1.   Easy to use
2.  Interactive
2.   Object Oriented
2.   Beginner's Language

We can download Python from www.python.org

Python is a **case sensitive** language.

### **Developing Environments**

1.   PyDev with Eclipse
2.   Komodo
1.   Pycharm
2.   Idle
1.   Notepad

In text editor, feature of intellisense is there.

**Shell**:- It interacts with machine.Nothing will be saved permanently.But we have to make files and folders.So we dont use shell

So, We will make use of **IDLE(Integrated Development Environment)**.Examples:-**Jupyter, Spyder**.

**Kernel**:-Interacts with Operating System.

Top 5 IDE's for Data Science:
1.   Rodeo IDE
1.   Pycharm
1.   Jupyter
2.   Spyder
2.   Atom IDE

### **Building Blocks**



> Values and Variables

*   numeric value
*   variables
*   assignment
*   identifiers
*  reserved words
*   comments



*   **Constants**:-They have fixed value.
*   **Variables**:-Value can be changed(used to define values).
*   **Identifiers**:-Name given to variables, functions, classes etc.These start with letter A to Z or a to z or an underscore followed by zero or more letters,underscore and digits(0 to 9).It dont allow @,$ and % etc.

### **Data Types**


1.   Numbers
2.   Strings
1.   Lists
1.   Tuples
2.   Dictionary

###**Numbers in Python**

In [ ]:
#"=" sign is used to assign values.Assignment is always from right to left.
var1=1
print(var1)  #For printing the value of var1
del var1     #For deleting its value

1

It do not need explicit declaration.Python uses both single and double quotes as:

In [ ]:
#help("keywords") will give complete list of keywords
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
x,y,z=100,-45,0;
print(x,y,z);

100 -45 0

In [ ]:
#controlling print statement
a,b,c,d=10,11,12,13;
print(a,b,c,d,sep=":");
print(a,b,c,d,sep=";");
print(a,b,c,d);
print(a,b,c,d,sep="----");

10:11:12:13
10;11;12;13
10 11 12 13
10----11----12----13

In [ ]:
#Program to find minimum of two numbers
x,y=5,7;
min=x if x<y else y;
print(min);

5

#####**Type Conversion/Type Casting**

Conversion of one data type to another.
* In python,we make use of **input keyword** also. Input always take value in strings.

In [42]:
a=int(input("Enter value of a:"))  #Here int is function
print("a:",a);
print(type(a))   #Here type function will give us data type of a

Enter value of a:2
a: 2
<class 'int'>

In [ ]:
#User input(first method)
x=input("Enter first number:");
y=input("Enter second number:");
num1=int(x);
num2=int(y);

In [ ]:
#User input(second method)
x=int(input("Enter first number:"));
y=int(input("Enter second number:"));

#####**Eval Function**

It evaluates the value of string.The three different examples for it are given below:

In [ ]:
a=eval(input("Enter first number:"));
b=eval(input("Enter second number:"));
av=(a+b)/2;
print("average is:",av);

In [ ]:
a=eval(input("Please enter an expression:"));
print(a);

In [ ]:
y1,y2=eval(input("Please enter y1,y2:"));
print('y1','y2',y1+y2);

#####**Operators**

There are three types of operators as follows:
1.   **Unary Operator**:-(One operand)
1.   **Binary Operator**:-(Two operands)
2.   **Ternary Operator**:-(Three operands)

Example:-**a+b**,here **+** is operator and **a and b** are operands.

**Programs related to operators:-**

In [ ]:
#Program to find bigger number
x1=int(input("Enter first number:"));
y1=int(input("Enter second number:"));
if x1>y1:
  print("x1 is greater",x1);
  print("hello");
else:
  print("y1 is greater",y1);
print("bye");

In [ ]:
#Logical operators
a=True;
b=False;
print(a and b);
print(a or b);
print(not b);

In [ ]:
#Program to find bigger out of three numbers
x=int(input("Enter first number:"));
y=int(input("Enter second number:"));
z=int(input("Enter third number:"));
if(x>y and x>z):
  print("x is bigger",x);
else:
  if(y>z):
    print("y is bigger",y);
  else:
    print("z is bigger",z);

In [ ]:
#WAP to check whether a number is +ve,-ve or zero
num=float(input("Enter the number:"));
if(num<0):
  print("Given number is negative");
elif(num>0):
  print("Given number is positive");
else:
  print("Given number is zero");

#####**Loops**

Loops are used for iterating over a sequence.
*   While loop
*   For loop

######**While Loop**

In [ ]:
#Syntax of while loop:-
     #while(condt):
      #<body>
      #statement

In [ ]:
i=1
while(i<=5):
  print(i);
  print("done");
  i=i+1;
print("ok");

In [ ]:
#Program to input name and print 5 times
i=1;
aa=input("Enter name:");
while(i<=5):
  print(aa);
  i=i+1;

In [ ]:
#Program to input five numbers and find sum
i=0;
s=0;
while(i<5):
  x=int(input("Enter number:"));
  s=s+x;
  i=i+1;
print("Sum is",s);

In [ ]:
#WAP to find factorial of a number
f=1;
num=int(input("Enter the number:"));
while(num>1):
  f=f*num;
  num=num-1;
print("Factorial of a number is",f);

In [ ]:
#Program to print even numbers till 20
n=0;
while(n<=20):
  print(n);
  n=n+2;
print("done");

In [ ]:
#Program to find sum of odd numbers till 20
i=1;
s=0;
while(i<=20):
  s=s+i;
  i=i+2;
print("Sum of odd numbers till 20 is",s);

######**For Loop**

In [ ]:
#print first five integers using for loop
for i in range(1,6):
  print(i,end=" ");

In [ ]:
#print multiples of 5 till 50 using for loop
for i in range(1,51):
  if(i%5==0):
    print(i,end=" ");

In [ ]:
#program to print three names
for i in range(1,4):
  n=input("Enter a name:");
  print("Welcome",n);

###### **Nested For Loop**

In [ ]:
#WAP to print pattern // nested for
for i in range(1,6):
  for j in range(1,4):
    print(i,end="");
  print("\n")

In [ ]:
#WAP to print pattern // nested for
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end='');
  print("\n")

In [ ]:
#WAP to print pattern // nested for
for i in range(6,0,-1):
  for j in range(1,i+1):
    print(j,end="");
  print(" ");

##### **Break Statement**

Break can be used to unconditionally jump out of loop.It terminates execution of the loop.

In [ ]:
#use of break
for i in range(1,5,1):
  if i==3:
    break;
  else:
    print(i);
print("out of loop");

In [ ]:
for ch in "COMPUTER":
  if ch=="T":
    break;
  print(ch);

In [ ]:
#break in while loop
i=0;
while(i<10):
  if i==7:
    break;
  else:
    print(i);
  i=i+1;

#####**Continue Statement**

Continue statement is used to move to next iteration of the loop.Continue will return back the control to the start of the loop.

In [ ]:
#use of continue
for i in range(1,5,1):
  if i==3:
    continue;
  else:
    print(i);
print("out of loop");

In [ ]:
#continue in while loop
i=0;
while i<9:
  i=i+1;
  if i==5:
    continue;
  elif i==6:
    continue;
  else:
    print(i);

##### **Programs related to numbers**

In [ ]:
#WAP to find all arithmetic operations
num1=int(input("Enter first number:"))
num2=int(input("Enter second number:"))
sum=num1+num2;
prod=num1*num2;
div=num1/num2;
sub=num1-num2;
remainder=num1%num2;
print("Sum of these numbers is",sum);
print("Product of these numbers is",prod);
print("Division of these numbers will give",div);
print("Subtraction of these numbers will give",sub);
print("Remainder on dividing these two numbers is",remainder);

In [ ]:
#WAP to swap two numbers
num1=int(input("Enter first number:"));
num2=int(input("Enter second number:"));
print("Numbers before swapping are:",num1,num2);
temp=num1;
num1=num2;
num2=temp;
print("Numbers after swapping:",num1,num2);

In [ ]:
#WAP to calculate simple interest
principal=float(input("Enter the value of principal:"));
rate=float(input("Enter the interest rate:"));
time=float(input("Enter the time period:"));
Simple_Int=(principal*rate*time)/100;
print("Simple interest will be:",Simple_Int);

In [ ]:
#WAP to find net salary,input BP,HRA is 20% of BP,DA is 90% of BP,PF is 10% of BP,NP=BP+HRA+DA-PF
bp=float(input("Enter the basic pay of employee:"))
hra=bp*20/100;
da=bp*90/100;
pf=bp*10/100;
ns=bp+hra+da-pf;
print("HRA will be:",hra);
print("DA will be:",da);
print("PF will be:",pf);
print("Hence the net salary will be:",ns);

In [ ]:
#WAP to enter selling price and then enter the discount and show the discounted price
sp=float(input("Enter the selling price:"));
dis=float(input("Enter the discount %:"));
amount=sp*dis/100;
dp=sp-amount;
print("The discounted price will be:",dp);

In [ ]:
#WAP to display menu of choice and find sum or product.
choice=int(input("Enter your choice:"));
a=int(input("Enter first number:"));
b=int(input("Enter second number:"));
if(choice==1):
  s=a+b;
  print("Sum of the numbers is",s);
else:
  p=a*b;
  print("Product of the numbers is",p);

In [ ]:
#Program to print the sum of reciprocals of first 100 natural numbers
sum=0;
for i in range(1,101):
  sum=sum+1/i;
print("Sum of reciprocals of first 100 natural numbers is",sum);

In [ ]:
#Program to assign grades to students.Input three subjects marks out of 100 and assign A grade to more than 80%,B grade 60%,C grade 40%,otherwise fail
eng=float(input("Enter the marks in english:"));
sci=float(input("Enter the marks in science:"));
math=float(input("Enter the marks in math:"));
total=eng+sci+math;
print("Total marks obtained out of 300 is",total);
per=(total/300)*100;
print("Marks Percentage is",per);
if(per>80):
  print("Grade assigned: A");
elif(per>60 and per<80):
  print("Grade assigned: B");
elif(per>40 and per<60):
  print("Grade assigned: C");
else:
  print("Fail");

In [ ]:
#Write a program to find whether a number is prime or not
num=int(input("Enter the number:"));
if num>1:
  for i in range(2,num):
    if num%i==0:
      print(num,"is not a prime number")
      break;
  else:
      print(num,"is a prime number")
else:
    print(num,"is not a prime number")

In [ ]:
#Program to print factorial of a number
f=1;
num=int(input("Enter a number:"));
for i in range(1,num+1):
  f=f*i;
print("Factorial of given number is",f);

In [ ]:
#Program to find sum of even numbers and odd numbers till a given number
i=0;
num=int(input("Enter the number till you want to find sum of even and odd numbers:"));
even_total=0;
odd_total=0;
while(i<=num):
  if(i%2==0):
    even_total=even_total+i;
  else:
    odd_total=odd_total+i;
  i=i+1;
print("Sum of even numbers is",even_total);
print("Sum of odd numbers is",odd_total);

In [ ]:
#Read five integer inputs from the user and print the sum of only positive inputs
sum=0;
for i in range(1,6):
  num=int(input("Enter the number:"));
  if num>0:
    sum=sum+num;
print("Sum of only positive inputs is",sum);3

In [ ]:
#Program to find sum of digits till a number
s=0;
limit=int(input("Enter a limit number:"));
for i in range(1,limit+1,1):
  s=s+i;
print("Sum is",s);

In [ ]:
#WAP to print prime numbers between two numbers such as between 7 to 50
num1=int(input("Enter the starting number:"));
num2=int(input("Enter the ending number:"));
for num in range(num1,num2+1):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break;
    else:
        print(num,end=" ");

In [ ]:
#Program to read numbers from the user until user enters -1 and find the maximum
num=int(input("Enter the number:"));
list=[];
while(num!=-1):
  list.append(num);
  num=int(input("Enter next number:"));
print("So maximum number out of these is",max(list));

In [ ]:
#WAP to print tables from 2 to 5
for i in range(2,6):
  for j in range(1,11):
    print(i,"*",j,"=",i*j,end="\n");
  print(" ")

In [ ]:
#WAP to find sum of digits of a number
s=0;
num=int(input("Enter a number:"));
while(num>0):
  rem=num%10;
  s=s+rem;
  num=num//10;
print("The sum of digits of number is",s);

######**Armstrong number**

Armstrong number is a **n digit number**, which is equal to **sum of nth power of its digits**.For eg:-**153** where 153 = (1)³+(5)³+(3)³

In [ ]:
#WAP to check whether a number is armstrong or not
s=0;
num=int(input("Enter the number:"));
temp=num;
while(temp>0):
  rem=temp%10;
  s=s+rem*rem*rem;
  temp=temp//10;
if(num==s):
  print("Given number is armstrong");   
else:
  print("Given number is not armstrong");

######**Perfect Number**

If **sum of factors** of a number is equal to the number,then it is a perfect number.For eg:-**6**=1+2+3 ,  **28**=1+2+4+7+14

In [ ]:
#WAP to determine whether number is perfect or not
s=0;
num=int(input("Enter a number:"));
i=1;
while(i<num):
  if(num%i==0):
    s=s+i;
  i=i+1;
if(num==s):
  print("Given number is perfect");
else:
  print("Given number is not perfect");

In [ ]:
#WAP to determine whether a number is perfect or not with the help of for loop
num=int(input("Enter the number:"));
s=0;
for i in range(1,num):
  if num%i==0:
    s=s+i;
if num==s:
  print("Given number is perfect");
else:
  print("Given number is not perfect");

###**Strings in Python**

In python,consecutive sequence of characters is known as string. An individual character in a string is accessed using a subscript (index). The subscript should always be an integer(positive or negative). A subscript starts from 0.

In [ ]:
#ways for writing string
e="This is 'python' training";
f='This is "python" training';
g="This is \"python\" training";
h='This is \'python\' training';
e,f,g,h

("This is 'python' training",
 'This is "python" training',
 'This is "python" training',
 "This is 'python' training")

In [ ]:
#string:         P  Y  T  H  O  N
#positive index: 0  1  2  3  4  5 
#negative index:-6 -5 -4 -3 -2 -1

In [ ]:
#index positive or negative
st="Python";
print(st[1]);  #from left side
print(st[-1]); #from right side
print(st[0]);
print(st[-3]);

y
n
P
h

In [ ]:
#string traversing
c="Chandigarh";
for i in c:
  print("aa",end=" ")

aa aa aa aa aa aa aa aa aa aa

In [ ]:
#uppercase and lowercase characters
ch=input("Enter the character:");
if(ch>="A" and ch<="Z"):           #Here we used double quotes
  print("ch is uppercase character",ch);
elif(ch>='a' and ch<='z'):         #We can use single quotes also
  print("ch is lowercase character",ch);
else:
  print("ch is not a character")

Enter the character:D
ch is uppercase character D

In [ ]:
#string operators
#Concatenation (+)  
'7'+'7'   
#Membership (in/not in)
#Comparison operator

'77'

In [ ]:
#Replication (*) 
"$"*5

'$$$$$'

In [ ]:
str="NIELIT Is IN CHD";
#a="NI" in str;
a="IS" in str;
#a="IN" in str;
print(a);

False

In [ ]:
str="NIELIT Is IN CHD";
#a="NI" not in str;
a="IS" not in str;
#a="IN" not in str;
print(a);

True

In [ ]:
#String slicing
str="PORTION";
print("Characters from 1 to 3",str[1:3])
print("Characters from 2 to end",str[2:])
print("Characters from 1 to -1",str[1:-1])
print("Characters from 0 to -1",str[:-1])
print("Characters from -7 to -1",str[-7:-1])
print("Characters till end",str[:])

Characters from 1 to 3 OR
Characters from 2 to end RTION
Characters from 1 to -1 ORTIO
Characters from 0 to -1 PORTIO
Characters from -7 to -1 PORTIO
Characters till end PORTION

In [ ]:
for i in 'Hello':
  print(i);

H
e
l
l
o

In [ ]:
x="Hello";
for i in x:
  print(i);

H
e
l
l
o

In [ ]:
name="Python Programming";
name[-12:1:-1]

' noht'

In [ ]:
s='Python Training';
for i in s:
  #print(i,'welcome');
  print(i+' welcome');

P welcome
y welcome
t welcome
h welcome
o welcome
n welcome
  welcome
T welcome
r welcome
a welcome
i welcome
n welcome
i welcome
n welcome
g welcome

##### **String Functions**

In [ ]:
#String Functions
a=len("NIELIT");
print(a);
print(len("RCC"));

6
3

In [ ]:
#ord() function returns the numeric value of char
#chr() function returns character corresponding to ascii code
a=ord('A');
b=ord("Z");
print(a);
print(b);
x=chr(97);
y=chr(112);
print(x);
print(y);

65
90
a
p

In [ ]:
str="chandigarh";
print(str.capitalize());
print(str.upper());
print("rcc".upper());
print("NIELIT".lower());
print(str.isupper());
print(str.islower());
print(str.isalpha());
print(str.isdigit());
print(str.isalnum());   #returns true if the string is alphabet or numeric (special characters are not allowed)
print("1234".isalnum());
print("Rcc@123".isalnum());

Chandigarh
CHANDIGARH
RCC
nielit
False
True
True
False
True
True
False

In [ ]:
title="Python Programming Is Fun."
print(title.casefold());   #convert the string to lowercase
print(title.count('m'));   #count how many times a letter occurs in a string
print(title.find('I'));    #get the position of character in a string
print(title.find('C'));    #if we pass a character that is not present in string
print(title.endswith('Fun'));  #check if string ends with a specified value

python programming is fun.
2
19
-1
False

In [ ]:
str="  R  C C ";
print("Original length:",len(str));
s1=str.lstrip();                  #lstrip function delete all the leading characters(from left side)
print("Length after left strip:",len(s1));
s2=str.rstrip();                  #rstrip function delete all the trailing characters(from right side)
print("Length after right strip:",len(s2));

Original length: 9
Length after left strip: 7
Length after right strip: 8

In [ ]:
print(" ".isspace());        #check if all the characters in the string are whitespace characters
print("This Is Rcc".istitle());   #returns true if the string is titlecased string otherwise returns false

True
True

In [ ]:
#replace(old,new)
str="NIELIT Chandigarh prior name was DOEACC Chandigarh";
print(str.replace("DOEACC","RCC"));

NIELIT Chandigarh prior name was RCC Chandigarh

In [ ]:
#string join
str1="CHD ";
str2="Chandigarh";
str3=("Nielit","Ropar");
str4=' At ';
print(str1+str2);
print(str4.join(str3));

CHD Chandigarh
Nielit At Ropar

In [ ]:
#swapcase
str="COMPUTER";
print(str.swapcase());

computer

In [ ]:
#partition() function takes a separator as the argument that separates the string at its first occurence
str="The Golden Star";
print(str.partition('Gold'));
print(str.partition('e'));
print(str.partition('a'));
print(str.partition(' '));
print(str.partition('r'));

('The ', 'Gold', 'en Star')
('Th', 'e', ' Golden Star')
('The Golden St', 'a', 'r')
('The', ' ', 'Golden Star')
('The Golden Sta', 'r', '')

In [ ]:
#split() function splits the string in list of words
s1="Try Try again until you succeed";
print(s1.split());

['Try', 'Try', 'again', 'until', 'you', 'succeed']

In [ ]:
#str() function converts integer to string

##### **Programs related to strings**

In [ ]:
#Program to find length of string
x=input("Enter any string:");
l=len(x);
print("Length of the string is",l);

Enter any string:Jashandeep
Length of the string is 10

In [ ]:
#Program to replace a character in a string with symbol
str1=input("Enter the string:");
chr=input("Enter the character you want to replace:");
sym=input("Enter the symbol with which you want to replace the character:");
str2=str1.replace(chr,sym);
print("Original string was",str1);
print("Modified string is",str2);

Enter the string:Jashandeep
Enter the character you want to replace:a
Enter the symbol with which you want to replace the character:@
Original string was Jashandeep
Modified string is J@sh@ndeep

In [ ]:
#check whether string is palindrome or not
str1=input("Enter the string:");
str2=str1[::-1];
print("Original string was",str1);
print("Modified string is",str2);
if (str2==str1):
  print("The string is palindrome");
else:
  print("The string is not palindrome");

Enter the string:naman
Original string was naman
Modified string is naman
The string is palindrome

In [ ]:
#Program to count alphabets,digits and special characters in a string
str=input("Enter the string:");
alpha=0;
dig=0;
spch=0;
for i in range(len(str)):
  if str[i].isalpha()==True:
     alpha=alpha+1;
  elif str[i].isdigit()==True:
    dig=dig+1;
  else:
    spch=spch+1;
print("Number of alphabets in string are",alpha); 
print("Number of digits in string are",dig);
print("Number of special characters in string are",spch);

Enter the string:jshn1227@gmail.com
Number of alphabets in string are 12
Number of digits in string are 4
Number of special characters in string are 2

In [ ]:
#Program to count occurence of character in a string
string=input("Enter the string:");
char=input("Enter the character:");
count=0;
for i in range(len(string)):
  if string[i]==char:
    count=count+1;
print("Total number of occurence of",char,"is",count);

Enter the string:Jashandeep
Enter the character:e
Total number of occurence of e is 2

In [ ]:
#WAP to display all string functions in one program: upper,capitalize,isalpha,isdigit,lower
text=input("Enter any text:");
print("Original string is:",text);
print("Converted string in uppercase letters:",text.upper());
print("Converted string into capitalize letters:",text.capitalize());
print(text.isalpha());  #It gives true if all the characters in the string is alphabet and gives false if string contains one or more non alphabets(also take space as non alphabet)
print(text.isdigit());  #It gives true if all the characters in the string is digits and gives false if string contains one or more non digits
print("Converted string into lowercase letters:",text.lower());

Enter any text:jashandeep kaur
Original string is: jashandeep kaur
Converted string in uppercase letters: JASHANDEEP KAUR
Converted string into capitalize letters: Jashandeep kaur
False
False
Converted string into lowercase letters: jashandeep kaur

###**Lists in Python**

In lists,values are enclosed in square brackets. Values in the list can be modified i.e. it is mutable. For accessing an element of the list,indexing is used.

In [ ]:
#list declaration
L1=[12,65,78,34,59];    #list of numbers
city=["Chd","Bassi","Ropar"];     #list of strings
states=['Punjab','Haryana','Himachal'];
aa=[12,13,'Chd'];
bb=[]  #Creating empty list
cc=[12,13.1,14,'Chd',[1,8,9],'Bassi'];    #nested list

In [ ]:
#Lists are mutable
li=[1,3,4,101];
li[3]=14;
print(li);

[1, 3, 4, 14]

In [ ]:
#Accessing list
#use of index number positive and negative index value
Fruits=["apple","orange","cherry","grapes"];
print(Fruits[1]);
print(Fruits[3]);
print(Fruits[-1]);

orange
grapes
grapes

In [ ]:
#List operations
#Joining list    (+ operator is used) 
a=[1,2,3];
b=[4,5];
print(a+b);
#repeat operator
c=[11,12];
print(c*3);
#slicing list
li=['a','b','c','d','e'];
print(li[2:4]);
#comparing list
a1=[3,2];
b1=[3,2];
c1=a1==b1;    #Comparing
print(c1);
d1=[2,3];
e1=d1<a1;
print(e1);

[1, 2, 3, 4, 5]
[11, 12, 11, 12, 11, 12]
['c', 'd']
True
True

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10];
seq=l[1:7:2]
print(seq);
print(l[7:10]);
print(l[0:9]);
print(l[::3]);
print(l[8:3:-1]);
print(l[::-2]);

[2, 4, 6]
[8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 7, 10]
[9, 8, 7, 6, 5]
[10, 8, 6, 4, 2]

In [ ]:
#traversing
for x in [1,2,3,4]:
  print(x);

1
2
3
4

In [ ]:
li=[4,5,6,7,8];
for x in li:
  print("rcc");

rcc
rcc
rcc
rcc
rcc

In [ ]:
#list traversing using while loop
n=[1,2,3,4,5,6,7,8,9,10];
i=0;
while i<10:
  print(n[i],end=' ');
  i=i+1;

1 2 3 4 5 6 7 8 9 10

In [ ]:
#using range function
for i in range(11):
  print(i);

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#it will make list
print(list(range(1,5)));
print(list(range(1,10,2)));
print(list(range(0)));   #will create empty list

[1, 2, 3, 4]
[1, 3, 5, 7, 9]
[]

##### **List Functions**

In [ ]:
#list functions
#len(),append(),count(),extend(),insert(),pop(),remove(),sort(),del(),clear()
lst=[1,2,3,4,5,6];
print(len(lst));   #tell the length of string
lst1=[2,3,2,5,8,9];
print(lst1.count(2));  #count the occurences of specified object in the list
lst1.append(10);       #will add the item at the end
print(lst1);
lst1.extend(lst)    #add the items of one list to other list
print(lst1);
print(len(lst1));

6
2
[2, 3, 2, 5, 8, 9, 10]
[2, 3, 2, 5, 8, 9, 10, 1, 2, 3, 4, 5, 6]
13

In [ ]:
#list insert syntax
#list.insert(<position>,element)
li=[1,2,3,4];
li.insert(1,9);
print(li);
#list remove syntax
#list.remove(item)
li.remove(3);
print(li);

[1, 9, 2, 3, 4]
[1, 9, 2, 4]

In [ ]:
#sort
x=[3,6,1,8,2,0];
y=x[:]
y.sort();
print(x);
print(y);
#max() min() clear()
print(max(x));
print(min(x));
print(x.clear());    #will clear the list

[3, 6, 1, 8, 2, 0]
[0, 1, 2, 3, 6, 8]
8
0
None

In [ ]:
my_list=["NIELIT","CHD"];
print(my_list);
my_list.append(["headoffice","Ropar"]);
print(my_list);
my_list.extend(["near","RoparIIT"]);
print(my_list);

['NIELIT', 'CHD']
['NIELIT', 'CHD', ['headoffice', 'Ropar']]
['NIELIT', 'CHD', ['headoffice', 'Ropar'], 'near', 'RoparIIT']

In [ ]:
#pop()   (to delete elements)
#syntax: list.pop(index value)    index value is optional
a=["aa","bb","cc","dd"];
print(a.pop(2));      #In pop(),we give index value whereas in remove(),we give the element we want to remove.
print(a);
print(a.pop());       #without index,pop() will delete the last element by default.
print(a);

cc
['aa', 'bb', 'dd']
dd
['aa', 'bb']

In [ ]:
#del list[i]
a=[1,2,3,4,5,6];
del a[1:3];
print(a);

[1, 4, 5, 6]

In [ ]:
#reverse :- reverse the order of list and items
x=[1,2,4,5,6];
x.reverse();
print(x);

[6, 5, 4, 2, 1]

In [ ]:
vehicle=['tram','car','bus'];
print(vehicle);
print();
#first method for looping in list
for n in vehicle:
  print(n);
print();  
#second method for looping in list
for n in range(len(vehicle)):
  print(vehicle[n]);
print();  
#sorting
vehicle.sort();
print(vehicle);

['tram', 'car', 'bus']

tram
car
bus

tram
car
bus

['bus', 'car', 'tram']

In [ ]:
vehicle=['tram','car','bus'];
new_vehicle=vehicle;
print(new_vehicle);
new_vehicle.append('bus');
print(new_vehicle);
print(vehicle);

['tram', 'car', 'bus']
['tram', 'car', 'bus', 'bus']
['tram', 'car', 'bus', 'bus']

In [ ]:
vehicle=['tram','car','bus'];
copyvehicle=vehicle[:];
del copyvehicle[0];
print(copyvehicle);
print(vehicle);

['car', 'bus']
['tram', 'car', 'bus']

##### **Programs related to Lists:**

In [ ]:
#Program to input elements in the list as per count then find the sum
list=[];
sum=0;
count=int(input("Enter the number of elements you want to append in a list:"));
for i in range(1,count+1):
  num=int(input("Enter the element:"));
  list.append(num);
  sum=sum+num;
print("The resulted list is",list);
print("Sum of the elements of list is",sum);

Enter the number of elements you want to append in a list:5
Enter the element:1
Enter the element:2
Enter the element:3
Enter the element:4
Enter the element:1
The resulted list is [1, 2, 3, 4, 1]
Sum of the elements of list is 11

In [ ]:
#Program to find middle element in a random number list
list=[1,2,3,5,7,6,8,25,29,4,93,65];
list.sort()
print("Sorted list is",list);
mid=len(list)/2;
print("Middle element in the list is",list[int(mid)]);

Sorted list is [1, 2, 3, 4, 5, 6, 7, 8, 25, 29, 65, 93]
Middle element in the list is 7

In [ ]:
#Program to read the line and count the number of words in it
text=input("Enter the sentence:");
count=len(text.split());          #split() function breaks up the string at specified separator
print("Number of words in the sentence are",count);

Enter the sentence:I am Jashandeep
Number of words in the sentence are 3

In [ ]:
#Calculate the average and total of elements of the list
list=[];
sum=0;
avg=0;
count=int(input("Enter the number of elements you want to append in a list:"));
for i in range(1,count+1):
  num=int(input("Enter the element:"));
  list.append(num);
  sum=sum+num;
  avg=sum/count;
print("The resulted list is",list);
print("Sum of the elements of list is",sum);
print("The average of elements of list is",avg);

Enter the number of elements you want to append in a list:4
Enter the element:1
Enter the element:2
Enter the element:3
Enter the element:4
The resulted list is [1, 2, 3, 4]
Sum of the elements of list is 10
The average of elements of list is 2.5

In [ ]:
#Add pair (x,y) in a list if for x in list1 its square y is present in list2
new_list=[];
list1=[1,2,3];
list2=[12,9,27,4,50];
for x in list1:
  for y in list2:
    if x*x==y:
      new_list.append((x,y));
print("The resulted list is",new_list);

The resulted list is [(2, 4), (3, 9)]

#####**List Comprehension**

In [ ]:
vec1=[2,4,6];
vec2=[4,3,-9];
#cross product
list1=[x*y for x in vec1 for y in vec2];
print(list1);
#multiplication
list2=[vec1[i]*vec2[i] for i in range(len(vec1))];
print(list2);
print([3*x for x in vec1 if x>3]);
print([3*x for x in vec2 if x<2]);

[8, 6, -18, 16, 12, -36, 24, 18, -54]
[8, 12, -54]
[12, 18]
[-27]

In [ ]:
nums=[1,6,-7,5,-3];
pos=[x for x in nums if x>0];
print(pos);
sqneg=[x*x for x in nums if x<0];
print(sqneg);
abspairs=[(x,abs(x)) for x in nums];
print(abspairs);

[1, 6, 5]
[49, 9]
[(1, 1), (6, 6), (-7, 7), (5, 5), (-3, 3)]

In [ ]:
fruits=["apple","banana","cherry","kiwi","mango"];
newlist=[];
for x in fruits:
  if "a" in x:
    newlist.append(x);
print(newlist);
#Same program by list comprehension
fruits=["apple","banana","cherry","kiwi","mango"];
print([x for x in fruits if "a" in x]);

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

In [ ]:
#n=5;
#squares=[1,4,9,16,25];
#squares
#By using list comprehension
list=[1,2,3,4,5];
squares=[x*x for x in list];
print(squares);

[1, 4, 9, 16, 25]

###**Tuples in Python**

In [ ]:
#Tuples are same as list but tuples can't be changed and thus are immutable.
#Tuples Declaration:-
#t1='a','b','c'  #tuple without parentheses
#t1=('a','b','c')  #tuple with parentheses
#t1=(101,'aa',89.98) #tuple of mixed data types
#t1=()               #empty tuple
#t1='a1',            #trailing comma is there in single element in tuple

In [ ]:
#difference between list and tuple
#lists in [] brackets and tuples in () brackets
#lists can be changed,extended,deleted but not tuples
#tuples can hold homogenous and heterogenous data,in list we store homogenous data

In [ ]:
t1=1,2,3;
t2=(5,6,7);
print(t1);
print(t2);
t3=t1+t2;
print(t3);
print(len(t3));

(1, 2, 3)
(5, 6, 7)
(1, 2, 3, 5, 6, 7)
6

In [ ]:
#tuples are immutable
t1=(1,2,3,4);
t1[2]=7;
print(t1);

TypeError: ignored

In [ ]:
#Accessing elements of tuple
t1=(1,2,3,4,5);
print(t1[2]);
print(t1[3]);
print(t1[1]);

3
4
2

In [ ]:
yellow=(255,255,0);
print(yellow[0]);
print(yellow[1:]);

255
(255, 0)

In [ ]:
#when we create a tuple,we normally assign values to it.This is called "packing" a tuple.
fruits=("apple","banana","cherry");
print(fruits);

('apple', 'banana', 'cherry')

In [ ]:
#But,in python,we are also allowed to extract the values back into variables.This is called "unpacking" a tuple.
fruits=("apple","banana","cherry");
(green,yellow,red)=fruits;
print(green);
print(yellow);
print(red);

apple
banana
cherry

In [ ]:
#accessing nested tuples
t1=(1,2,3,(4,5,6),7.8,9.1,"Hello");
print(t1[3][1]);
print(t1[3][2]);
print(t1[1]);
print(t1[6][4]);
print(t1[6]);

5
6
2
o
Hello

In [ ]:
#slicing in tuple
v=(1,24,53,6,7,83,9,4,6,98);
print(v[:]);
print(v[:3]);
print(v[3:]);
print(v[:-1]);
print(v[2:4]);

(1, 24, 53, 6, 7, 83, 9, 4, 6, 98)
(1, 24, 53)
(6, 7, 83, 9, 4, 6, 98)
(1, 24, 53, 6, 7, 83, 9, 4, 6)
(53, 6)

In [ ]:
#membership in tuple
t1=2,4,6,5,1;
print(4 in t1);
print(9 in t1);

True
False

##### **Tuple Functions**

In [ ]:
#Tuple functions
#cmp(),len(),max(),min(),count(),sorted(),index()
#cmp() compares both tuples and returns 0 if same,-1 if first is greater and 1 if second is greater
t1=33,44,55,66,33;
print(len(t1));
print(t1.count(33));
print(max(t1));   #syntax is max(args),min(args)
print(min(t1));
print(sorted(t1));
print(t1);
print(t1.index(33,2));  #here 33 is value whose index we want to find and 2 represents we want to find index of second occurence of 33
print(t1.index(44));

5
2
66
33
[33, 33, 44, 55, 66]
(33, 44, 55, 66, 33)
4
1

In [ ]:
#tuple operations
#tuple slicing syntax:-[start index(included):stop index(excluded):step]
n=(11,12,34,54,23,64,24,78,97,35);
print(n[::-1]);
print(n[::2]);
print(n[::-2]);
#tuple addition
a=1,2,3;
b=4,5,6;
c=a+b;
print(c);
#tuple multiplication-- repetition
z=(1,2,3);
print(z*3);
#deleting a tuple
#del a[2]       as tuple cannot be changed so element cannot be deleted and will show error in this.
aa=(22,33)
del(aa);       #But whole tuple can be deleted

(35, 97, 78, 24, 64, 23, 54, 34, 12, 11)
(11, 34, 23, 24, 97)
(35, 78, 64, 54, 12)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

##### **Modifying tuple**

In [ ]:
indoor=['badminton','table-tennis'];
outdoor=['football','cricket'];
#create a tuple using above two lists
games=(indoor,outdoor);
print(games);

(['badminton', 'table-tennis'], ['football', 'cricket'])

In [ ]:
#lets create another list for card games
cards=['hearts','freecell'];

In [ ]:
#print first element in tuple
print(games[0]);

['badminton', 'table-tennis']

In [ ]:
#Lets try to replace it with cards
games[0]=cards;
#should get an error!! tuple is not mutable!

TypeError: ignored

In [ ]:
#create another tuple games1 with all three lists as tuple elements
games1=(['badminton','table-tennis'],['football','cricket'],['hearts','freecell']);
print(games1);

(['badminton', 'table-tennis'], ['football', 'cricket'], ['hearts', 'freecell'])

In [ ]:
games1[:2]==games

True

In [ ]:
#try to change first element in outdoor list
outdoor[0]='hockey';
print(outdoor);

['hockey', 'cricket']

In [ ]:
#has the tuple modified?
games1[:2]==games

False

In [ ]:
#Is it correct? Earlier we said that tuples are not mutable and now we are modifying it

In [ ]:
#lets try to fix this
games1[1][0]='hockey'
games1[:2]==games

True

###**Dictionary in Python**

Dictionary is an unordered collection of data values,used to store data values like a map,which unlike other Data types that hold only single value as an element,Dictionary holds key:value pair.

In [ ]:
#dictionary is used for storing values with keys
#dictionaries are like address books
#dictionary declaration
mydict={"name":"anu","phone":234156,"city":"chd"}   #name is key and anu is value
mydict

{'city': 'chd', 'name': 'anu', 'phone': 234156}

In [ ]:
# d={key1:value1,key2:value2,key3:value3}
# d={rollno1:name1,rollno2:name2,rollno3:name3}
d={1:'amit',2:'varun',3:'preeti'};
print(d);
d[1]   #1 is key that is rollno

{1: 'amit', 2: 'varun', 3: 'preeti'}

'amit'

In [ ]:
#d1={}--empty dictionary
#d2={1:"Sunil",2:"Anil",3:"Shardha",} --comma after last pair is optional
d2={1:"Sunil",2:"Anil",3:"Shardha",}
print(d2)   #print all elements of dictionary
print(d2[2])    #print the value assigned to key 2
mydict=dict({"city":"pkl","state":"haryana"});   #declaring dictionary using dict() function
print(mydict);
print(mydict["state"]);

{1: 'Sunil', 2: 'Anil', 3: 'Shardha'}
Anil
{'city': 'pkl', 'state': 'haryana'}
haryana

In [ ]:
#example of dictionary declaration in other way
dict1={};
dict1[1]="chd";
dict1[2]="ropar";
dict1[3]="kurukshetra";
dict1

{1: 'chd', 2: 'ropar', 3: 'kurukshetra'}

In [ ]:
#appending values to dictionary
dict={"name":"anu","class":"12th"};
print(dict);
dict["stream"]="science";  #appended the content
print(dict);
dict.update({"stream":"commerce"});  #update the content with update function
print(dict);
dict["name"]="Hari";   #another method of updating
print(dict);

{'name': 'anu', 'class': '12th'}
{'name': 'anu', 'class': '12th', 'stream': 'science'}
{'name': 'anu', 'class': '12th', 'stream': 'commerce'}
{'name': 'Hari', 'class': '12th', 'stream': 'commerce'}

In [ ]:
student={'rollno':10,'name':'sonu','age':22,'marks':56}
print(student);
#using list as a value for key-value pair
student['marks']=[78,56,87];
print(student);
#nested dictionary
student['address']={'hno':587,'street':'xyz','city':'chandigarh','contact':929384,};
print(student)
student['address']['city']

{'rollno': 10, 'name': 'sonu', 'age': 22, 'marks': 56}
{'rollno': 10, 'name': 'sonu', 'age': 22, 'marks': [78, 56, 87]}
{'rollno': 10, 'name': 'sonu', 'age': 22, 'marks': [78, 56, 87], 'address': {'hno': 587, 'street': 'xyz', 'city': 'chandigarh', 'contact': 929384}}

'chandigarh'

In [ ]:
d={1:'amit',2:'varun',3:'preeti',10:'isha',12:'gurvinder'}
#using for loop to traverse a dictionary
for i in d:
  print(i)    #print keys

1
2
3
10
12

In [ ]:
for i in d:
  print(i,'->',d[i]);

1 -> amit
2 -> varun
3 -> preeti
10 -> isha
12 -> gurvinder

In [ ]:
#traversing dictionary
mydict={"Name":"Anu","Phone":125364,"city":"chd"};
for i in mydict:
  print(i,":",mydict[i]);

Name : Anu
Phone : 125364
city : chd

In [ ]:
#Program to enter names and marks of the students and display information using dictionary
n=int(input("Enter the number of students:"));
d={};
for i in range(n):
  name=input("Enter name of the student:");
  marks=int(input("Enter marks:"));
  d[name]=marks;
print("Dictionary of student created",d);

Enter the number of students:3
Enter name of the student:Jashan
Enter marks:99
Enter name of the student:Ram
Enter marks:98
Enter name of the student:Sham
Enter marks:97
Dictionary of student created {'Jashan': 99, 'Ram': 98, 'Sham': 97}

##### **Dictionary Functions**

In [ ]:
#Dictionary functions and methods
d1={1:"aa",2:"bb",3:"cc"};
print(len(d1));
print(d1.get(5));   #it will get the element value
print(d1.get(3));
d1.pop(3);   #it will remove/pop the mentioned item
print(d1);
print(d1.keys()); #will print keys only
print(d1.values()); #will print values only
print(d1.items());  #will print all items with values

3
None
cc
{1: 'aa', 2: 'bb'}
dict_keys([1, 2])
dict_values(['aa', 'bb'])
dict_items([(1, 'aa'), (2, 'bb')])

In [ ]:
#removing dictionary elements and dictionaries
d1={1:"aa",2:"bb",3:"cc"};
print(d1);
del d1[2];
print(d1);
#d1.clear() will clear all elements of dictionary

{1: 'aa', 2: 'bb', 3: 'cc'}
{1: 'aa', 3: 'cc'}

In [ ]:
#another way to traverse a dictionary using items function
for a,b in d1.items():
  print(a,b)

1 aa
2 bb

###**File Processing**

File is a named location on system storage which stores data for later access. It enables persistant storage in a non-volatile memory i.e.Hard Disk. Python too supports file handling and allows users to handle files i.e. ,to read and write files, along with many other file handling options, to operate on files

---
Open() function in Python is used to open a file in read or write mode.Open() will return a file object.The syntax is open(filename,mode)

---
Closing a file will free up the resources that were tied with the file and is done using Python close() method.

---
File  modes:-
1.   r
1.   w
1.   r+
1.   w+
2.   a
2.   rb
2.   wb

In [ ]:
#create a file
players=open('tennis_players','w');
#input()
players.write('Roger\n');
players.write('Rafeal\n');
players.write('Andy\n');
players.write('Novak\n');
players.write('Leander\n');
#print('Another line',file=players,end='*')
#print('I am done',file=players)
players.close()

In [ ]:
#create another file
countries=open('tennis_countries','w');
countries.write('Switzerland\n');
countries.write('Spain\n');
countries.write('Britain\n');
countries.write('Serbia\n');
countries.write('India\n');
countries.close();

In [ ]:
print(players);
print(countries);

<_io.TextIOWrapper name='tennis_players' mode='w' encoding='UTF-8'>
<_io.TextIOWrapper name='tennis_countries' mode='w' encoding='UTF-8'>

In [ ]:
n=open('tennis_players','r');
c=open('tennis_countries','r');
print(n);
print(c);

<_io.TextIOWrapper name='tennis_players' mode='r' encoding='UTF-8'>
<_io.TextIOWrapper name='tennis_countries' mode='r' encoding='UTF-8'>

In [ ]:
#read all players
pn=n.read();
pn

'Roger\nRafeal\nAndy\nNovak\nLeander\n'

In [ ]:
#read first n characters from a file
n=open('tennis_players','r')
pn=n.read(30)
print(pn)
n.close()

Roger
Rafeal
Andy
Novak
Leander

###**Functions**

In [ ]:
# function definition
# calling of function
# syntax to define a function
# def function name():
# statements.....

In [ ]:
#function definition
def sumtwonum(a,b):
  c=a+b;
  print(c);

In [ ]:
#calling of function
sumtwonum(10,7);

17

In [ ]:
#function definition to calculate factorial of a number
def factorial(num):
  f=1;
  for i in range(1,num+1):
    f=f*i;
  print(f);

In [ ]:
#calling of function
factorial(5)

120

In [ ]:
#function to calculate result of student
def finalresult(t,p):
  res='';
  if t>=50 and p>=50:
    res='pass';
  else:
    res='fail';
  return res;

In [ ]:
#calling of function
theory=int(input("Enter theory marks:"));
practical=int(input("Enter practical marks:"));
s=finalresult(theory,practical);
print("Final result of the student=",s);

Enter theory marks:60
Enter practical marks:55
Final result of the student= pass

In [ ]:
def sqr1(a,b):
  return a*a, b*b;
ans=sqr1(5,6);
print(ans);
ans[0]

(25, 36)

25

#####**Function arguments**

In [ ]:
#1. Default arguments
def fun(a,b=7,c=8):
  print('a=',a,'b=',b,'c=',c);

In [ ]:
#calling function with default arguments
fun(56);
fun(4,70);

a= 56 b= 7 c= 8
a= 4 b= 70 c= 8

In [ ]:
#keyworded argument
fun(5,c=90);
fun(a=9,c=5,b=4);

a= 5 b= 7 c= 90
a= 9 b= 4 c= 5

In [ ]:
#positional arguments
def test(a,b):
  print(a,b);

In [ ]:
test(4);

TypeError: ignored

In [ ]:
test(4,5,9);

TypeError: ignored

In [ ]:
test(b=9);

TypeError: ignored

In [ ]:
test(5,10);

5 10

In [ ]:
#Variable length argument in functions in Python
def message(*var):
  print(type(var));
  print(var);
  for i in var:
    print(i);

In [ ]:
message("Hello I am Jashandeep","How r u?")

<class 'tuple'>
('Hello I am Jashandeep', 'How r u?')
Hello I am Jashandeep
How r u?

In [ ]:
message(2,5,8,6)

<class 'tuple'>
(2, 5, 8, 6)
2
5
8
6

In [ ]:
message()

<class 'tuple'>
()

In [ ]:
message([4,5,6,24,87,65,9,4,57])

<class 'tuple'>
([4, 5, 6, 24, 87, 65, 9, 4, 57],)
[4, 5, 6, 24, 87, 65, 9, 4, 57]

In [ ]:
def myAddUniversal(*args):
  s=0;
  for i in range(len(args)):
    s=s+args[i];
  return s;

In [ ]:
print(myAddUniversal(2,4,5,4.6,7.8));

23.4

In [ ]:
def printAllVariableNamesAndValues(**args):
  for x in args:
    print("Variable Name is:",x,"And Value is:",args[x]);

In [ ]:
printAllVariableNamesAndValues(a=3,b="B",c="CCC",d=6.7);

Variable Name is: a And Value is: 3
Variable Name is: b And Value is: B
Variable Name is: c And Value is: CCC
Variable Name is: d And Value is: 6.7

In [ ]:
#Keyword-variable length argument in functions in Python
def testkeyvar(**var):
  print(var);
  for k in var:
    print(k,var[k]);

In [ ]:
testkeyvar(a=7,b=8,c=9);

{'a': 7, 'b': 8, 'c': 9}
a 7
b 8
c 9

In [ ]:
testkeyvar(name="nikhil",rollno=63,age=18);

{'name': 'nikhil', 'rollno': 63, 'age': 18}
name nikhil
rollno 63
age 18

In [ ]:
#docstring
def printSuccess2():
  """This function is doing nothing except printing a message.
  That message is "hellow" 
  """
  print("hellow");

In [ ]:
help(printSuccess2)

Help on function printSuccess2 in module __main__:

printSuccess2()
    This function is doing nothing except printing a message.
    That message is "hellow"

In [ ]:
printSuccess2()

hellow

In [ ]:
def mypow(a,b):
  """This function computes power just like built in pow function"""
  c=a**b;
  print(c);

In [ ]:
mypow?

In [ ]:
mypow(3,4);

81

#####**Programs by using functions**

In [ ]:
#Function to calculate area of a circle
def circlearea(radius):
  area=3.14*radius*radius;
  return area;
  #print(area)
#Calling of function
r=int(input("Enter radius of circle to calculate its area:"));
result=circlearea(r);
print(result);

Enter radius of circle to calculate its area:5
78.5

In [ ]:
#Function to calculate reverse of a number
def revnum(num):
  reversed_num = 0
  while num != 0 :
        rem = num % 10;
        reversed_num = 10*reversed_num + rem;
        num = num // 10;
  return reversed_num;
number = int(input("Enter the number to be reversed:"));
print("Reversed Number is: ",revnum(number));

Enter the number to be reversed:67548
Reversed Number is:  84576

In [ ]:
#Function to calculate the prime number or not
def isprime(num):
  if num>1:
    for i in range(2,num+1):
      if(num%i==0):
        return False;
      return True;
  else:
    return False;
print(isprime(23));
print(isprime(12));

True
False

In [ ]:
#A function to find factorial of a given number
#(This is normal version)
def factorial(n):
  fact=1;
  if(n != 0):
    for i in range(1,n+1):
      fact=fact*i;
  return fact;

num=int(input("Enter a number:"));  
if num<0:
  print("Factorial does not exist for negative numbers");
else:
  print("The factorial of",num,"is",factorial(num));

Enter a number:5
The factorial of 5 is 120

In [ ]:
#A function to find factorial of a given number
#(This is recursive version)
def factorial(n):
  if(n==0):   #Base case
    return 1;
  return n*factorial(n-1)    #Recursion
num=int(input("Enter a number:"));  
if num<0:
  print("Factorial does not exist for negative numbers");
else:
  print("The factorial of",num,"is",factorial(num));

Enter a number:5
The factorial of 5 is 120

In [ ]:
#Function to accept a string and calculate the number of uppercase and lowercase alphabets
def string(str):
  up=0;
  low=0;
  for i in str:
   if i.isupper()==True:
    up=up+1;
   if i.islower()==True:
    low=low+1;
  print("String is",str);  
  print("uppercase alphabets:",up);
  print("lowercase alphabets:",low);
string("Jashan");

String is Jashan
uppercase alphabets: 1
lowercase alphabets: 5

In [ ]:
#Function to count the frequency of items of list using directionary
def CountFreq(li):
    freq = {}
    for item in li:
        if item in freq:
            freq[item] = freq[item]+1
        else:
            freq[item] = 1
    print(freq) 
li =[1, 1, 3, 2, 6, 5, 3, 1, 3, 3, 1, 4, 6, 4, 4, 2, 2, 2, 2]
CountFreq(li)

{1: 4, 3: 4, 2: 5, 6: 2, 5: 1, 4: 3}

#####**Lambda Function**

Lambda keyword is used to create small Anonymous function.These function are called anonymous because they are not declared as standard function.

---
Lambda forms can take any number of arguments but return one value.They cannot contain commands or multiple expressions.Syntax:lambda[arg1[arg2,....]]:expression

In [ ]:
#function definition
sum=lambda arg1,arg2:arg1+arg2;
#call sum function
print("Value of total is",sum(10,20));

Value of total is 30

#####**LEGB Rule**

LEGB Rule Multiple namespaces can exist independently from each other and they can contain the same variable names on different hierarchy levels. The "Scope" defines on which hierarchy level Python searches for a particular "variable name" for its  associated object.The order in which Python search the different levels of namespaces before it finds the name-to-object' mapping is-LEGB rule. Example:

In [ ]:
#scope of a variable
x=5;
def print_num(number):
  x=3;
  print("number=",number);
  print("inside x=",x);
  return number;

print("outside x=",x);
print_num(4);
print("outside again x=",x);

outside x= 5
number= 4
inside x= 3
outside again x= 5

In [ ]:
#global variable
PI=3.14;
def perimeter(r):
  return 2*PI*r;
def area(r):
  return PI*r*r;
def update_pi(newpi):
  global PI;
  PI = newpi;
print(PI);
print(area(100));
print(perimeter(10));
update_pi(3.14159);
input('Updated PI.\nPress RETURN to continue.')
print(PI);
print(area(100));
print(perimeter(10));

3.14
31400.0
62.800000000000004
Updated PI.
Press RETURN to continue.
3.14159
31415.899999999998
62.8318

In [ ]:
#if global is not used
PI=3.14;
def perimeter(r):
  return 2*PI*r;
def area(r):
  return PI*r*r;
def update_pi():
  #global PI;
  PI = 3.14159;
  print("Local PI",PI);
print(area(100));
print(perimeter(10));
update_pi();
input('Updated PI.\nPress RETURN to continue.')
print(area(100));
print(perimeter(10));
print("Global PI",PI);

31400.0
62.800000000000004
Local PI 3.14159
Updated PI.
Press RETURN to continue.
31400.0
62.800000000000004
Global PI 3.14

In [ ]:
def maximum(a,b):
  if(a>b):
    return a;
  else:
    return b; 
def minimum(a,b):
  if a<b:
    return a;
  else:
    return b;
x=-1;
x=maximum(3 + 6,4);
print(x);
y=minimum(x,9 - 4);
print(x,y);

9
9 5

In [ ]:
pi='This is global pi';
def outer_test():
  pi='This is outer pi';
def inner_test():
  pi='This is inner pi';
  print(pi);
inner_test();
outer_test();
print(pi);

This is inner pi
This is global pi

In [ ]:
y=10;
def inner():
  s=4;
  print("s",s);
  print("y=",y);
inner();
#print(s) will show error as out of scope of function  
print("outer y=",y);

s 4
y= 10
outer y= 10

In [ ]:
y=10;
def inner():
  s=4;
  y=y+1;
  #y=y+1 will show an error as cannot change global var within function for this use of--global word
  print("y=",y);
inner();
#print(s) will show error as out of scope of function  
print("outer y=",y);

UnboundLocalError: ignored

In [ ]:
y=10;
def inner():
  s=4;
  global y;
  y=y+1;
  print("y=",y);
inner();
#print(s) will show error as out of scope of function  
print("outer y=",y);

y= 11
outer y= 11

In [ ]:
y=10 #global
def outer():  #enclosed
   z=4;
   def inner():   #local
      s=4;
      print("inner s=",s);
      print("outer function",z);
      print("y=",y);
   inner();
outer();
#print(s) will show error as out of scope of function  
print("global",y);

inner s= 4
outer function 4
y= 10
global 10

In [ ]:
y=10 #global
def outer():  #enclosed
   z=4;
   def inner():   #local
      s=4;
      print("inner s=",s);
      nonlocal z;
      z=z+1;
      print("outer function",z);
      print("y=",y);
   inner();
outer();
#print(s) will show error as out of scope of function  
print("global",y);

inner s= 4
outer function 5
y= 10
global 10

In [ ]:
y=10  #global
def outer():    #enclosed
  y=5;
  def inner():  #local
     y=2;
     print("inner y=",y);
  inner();
outer();
#LEGB rule first will print local,then will search enclosed,then global and then bracket

inner y= 2

###**Modules in Python**

##### **Math Module**

In [ ]:
#importing math module
#1. using import keyword
import math
result=math.sqrt(81);
print(result);

9.0

In [ ]:
import math as mt
r=mt.sqrt(56)
print(r);

7.483314773547883

In [ ]:
#2.using from keyword
from math import ceil
print(ceil(6.6));

7

In [ ]:
#to import all the functions from your module,write *
from math import *

#####**Random Module**

In [ ]:
import random
# random function-it gives a random number between 0 and 1
random.random()

0.15067008603339171

In [ ]:
#randint(a,b)-it gives a random number between a and b
random.randint(15,100)

89

In [ ]:
#uniform(a,b)-it gives a floating point random number between a and b
random.uniform(5,10)

8.249806564889209

##### **Time Module**

In [ ]:
#import time module
from datetime import time
a=time();
print("a=",a);
b=time(9,32,52);
print("b=",b);
print("hour=",b.hour);
print("minute=",b.minute);
print("second=",b.second);
import datetime
print(datetime.datetime.now())  #print current date and time
#import datetime;
print(datetime.date.today())    #print current date
from datetime import date
print(date.today());
dd=date.today();
print("year",dd.year);
print("month",dd.month);
print("day",dd.day);

a= 00:00:00
b= 09:32:52
hour= 9
minute= 32
second= 52
2022-07-15 05:23:56.297968
2022-07-15
2022-07-15
year 2022
month 7
day 15

##### **Calendar Module**

In [ ]:
import calendar
print(calendar.month(2022,9));

   September 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

##### **Re Module**

In [ ]:
import re
txt="hello planet";
#Search for a sequence that starts with "he",followed by 0 or more (any) characters ,and an "o":
x=re.findall("he.*o",txt);
print(x);

['hello']